/* What exactly do I want this to look like? */




.top_menu
{
	
	padding:0;
	margin:0;
	border:0;
	background:#E2E2DB;
	z-index:2;
	width:auto;
}
 
.top_menu li
{
	margin: 5px 2px 0px 2px;
}

.top_menu > li > ul
{
	background:#E2E2DB;
}

.top_menu a:hover
{
	color:red;
}

.top_menu a:active
{
	color:red;
}

.top_menu a:checked
{
	color:red;
}

.top_menu a:after
{
	color:red;
}

.top_menu li > ul a:hover
{
	color:red;
}


/* Why can't I use css to change the a's inside li > ul through css and
 * have to use a span?
*/

.ruby_size
{
	width:22px;
	height:22px;
}





.greyback
{
	background-color:#EBEBE4;
}

.whiteback
{
	background-color:white;
}

.link_lesson
{
	text-decoration: none;
}

.red
{
	color:red;
}

.darkred2
{
 color:#B11306
}

.midred
{
	color:#CC342D;
}

.darkred
{
	color:#900E05;
}




body
{
	z-index: -1;
}